.container {
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.item {
  flex: 0 0 auto;
  margin: 27px;
}
